ACCOUNT_PRIVATE_KEY=
AWS_ACCOUNT_REGION=
AWS_ACCOUNT_PRIVATE_KEY_SECRET_ID=
AAVE_ORACLE_ADDRESS=0x94172B8a7fa43803349cC7BDF143611066b8Ef9C
POOL_ADDRESS=0xd7308f0626a8e35b645Af0b7fA26Aba9CbD7e6A7
POOL_DATA_PROVIDER_ADDRESS=0x33C3f0eb51CF2ac2ccE734bdb0c158Aafb982253
RPC_URL=https://bob-sepolia.rpc.gobob.xyz/
